/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&family=Rajdhani:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    transition: 0.3s;
}
*::selection{
    background-color: #ffaa17;
    color: #fff;
}

html{
    scroll-behavior: smooth;
}
.contanier{
    width: 85%;
    margin: auto;
}
.btn{
    padding: 15px 30px;
    color: #1c1e22;
    font-weight: 500;
    background-color:rgba(165, 42, 42, 0.281);
    border-radius: 10px;
    border: 1px solid rgba(165, 42, 42, 0.281);
}
.btn:hover{
    color:rgba(165, 42, 42, 0.281);
    background: #fff;
}

section{
    padding: 90px 0 40px;
}

.sec-top{
    text-align: center;
    margin-bottom: 70px;
}
.sec-top h1{
    color: #1c1e22;
    font-size: 40px;
}
.sec-top h1 span{
    color: #ffaa17;
}

.boxs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.boxs .box{
    width: 30%;
}
/* start Header */

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.712);
    height: 70px;

}
header.active{
    background-color: #1c1e22;
    border-bottom: 1px solid #8888884a;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
header nav .nav-links a{
    color: whitesmoke;
    margin-left: 50px;
    font-size: 25px;
}
header nav .nav-links a:hover,
header nav .nav-links a.active{
    color: #ffaa1794;
}

#btn-menu{
    display: none;
}

/* intro */

.intro{
    padding-top: 80px;
    background: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v546batch3-mynt-34-badgewatercolor_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=89288ef4b47127f7f34a5998b50e4470')no-repeat;
    min-height: 100vh;
background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro .contanier{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro .inner h4{
    color:rgba(0, 0, 0, 0.411);
    font-size: 30px;
}
.intro .inner h1{
    color: rgba(255, 166, 0, 0.747);
    font-size: 65px;
    margin: 20px 0 10px;
}
.intro .inner p{
    color:rgba(0, 0, 0, 0.445);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 70px;
}
.intro .inner .btn{
    font-size: 18px;
}
.intro .intro-img img{
    width: 580px;
    height: 400px;
    border-radius: 60px;
}

 /* about */ 

 .about {
    padding: 90px 0 50px;
    background-color: rgba(222, 184, 135, 0.274);
 }
.about .contanier{
    display: flex;
    justify-content: center;
}
.about .about-img img{
    width: 450px;
    border-radius: 10px;
    height: 400px;
}
.about .inner{
    margin-left: 30px;
}
.about .inner h1{
    color: #1c1e22;
    font-size: 45px;
}
.about .inner h1 span{
    color: #ffaa17d0;
}
.about .inner h3{
    color: #1c1e22;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
}
.about .inner p{
    color: #444;
    line-height: 1.8;
    margin-bottom:70px;
}

/* Skills */

.skill{
    background-color: rgba(165, 42, 42, 0.089);
    text-align: center;
}
.skill .boxs .box{
    background-color: #fff;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px 0px rgba(128, 112, 22, 0.2);
    position: relative;
    top: 0;
}
.skill .boxs .box:hover{
    top: -25px;
}
.skill .boxs .box i{
    color:rgba(165, 42, 42, 0.541) ;
    font-size: 50px;
    margin-bottom: 20px;
}
.skill .boxs .box h3{
    color: #1c1e22;
    font-size: 24px;
    margin-bottom: 20px;
}
.skill .boxs .box p{
    color: #444;
    margin-bottom: 50px;
}
/* Project */
.project{
    background-color:rgba(222, 184, 135, 0.274) ;
}
.project .boxs .box{
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
}
.project .boxs .box img{
    width: 100%;
    height: 100%;
}
.project .boxs .box:hover img{
    transform: scale(1.2);
    rotate: -4deg;
    transition: 0.6s ease-out;
}
.project .boxs .box .box-hover{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #111111b9;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    opacity: 0;
}
.project .boxs .box:hover .box-hover{
    opacity: 1;
}
.project .boxs .box .box-hover span{
    color: #fff;
    font-size: 25px;
}

/* start Contact */
body, input,textarea, a{
    font-family:  sans-serif;
}
.section-wrapper{
    width: 100%;
    padding: 10px;
    background-color:rgba(165, 42, 42, 0.089) ;
}
.box-wrapper{
    position: relative;
    display: table;
    width:1100px;
    margin:auto;
    margin-top:35px;
    border-radius: 30px;
}
.info-wrap{
    width:35%;
    height: 551px;
    padding: 40px;
    float: left;
    display: block;
    border-radius: 30px 0px 0px 30px;
    background:  lightgrey;
    color: black;
}
.info-title{
    text-align: left;
    font-size: 28px;
    letter-spacing: 0.5px;
}
.info-sub-title{
    font-size: 18px;
    font-weight: 300;
    margin-top: 17px;
    letter-spacing: 0.5px;
    line-height: 26px;
}
.info-details {
    list-style: none;
    margin: 60px 0px;
}
.info-details li {
    margin-top: 25px;
    font-size: 18px;
    color: black;
}
.info-details li i {
    background: rgba(165, 42, 42, 0.541);
    padding: 12px;
    border-radius: 50%;
    margin-right: 5px;
}
.info-details li a {
    color: black;
    text-decoration: none;
}
.info-details li a:hover {
    color: whitesmoke;
}
.social-icons {
    list-style: none;
    text-align: center;
    margin: 20px 0px;
}
.social-icons li {
    display: inline-block;
}
.social-icons li i {
    background: rgba(165, 42, 42, 0.541);
    color: rgba(0, 0, 0, 0.753);
    padding: 15px;
    font-size: 20px;
    border-radius: 22%;
    margin: 0px 5px;
    cursor: pointer;
    transition: all .5s;
}
.social-icons li i:hover {
    background: #fff;
    color: #000000;
}
.form-wrap{
    width:65%;
    float: right;
    padding:40px 25px 35px 25px;
    border-radius: 0px 30px 30px 0px;
    background: #ecf0f3;
}
.form-title{
    text-align: left;
    margin-left: 23px;
    font-size: 28px;
    letter-spacing: 0.5px;
}
.form-fields{
    display: table;
    width: 100%;
    padding: 15px 5px 5px 5px;
}
.form-fields input,
.form-fields textarea{
    border: none;
    outline:none;
    background: none;
    font-size: 18px;
    color:#555;
    padding: 20px 10px 20px 5px;
    width:100%
}
.form-fields textarea{
    height: 150px;
    resize: none;
}
.form-group{
    width: 46%;
    float: left;
    padding: 0px 30px;
    margin: 14px 12px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
.form-fields .form-group:last-child {
    width: 96%;
}
.submit-button{
    width: 96%;
    height: 60px;
    margin: 0px 12px;
    border-radius: 30px;
    font-size: 20px;;
    font-weight: 700;
    outline: none;
    border:none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.651);
    text-align: center;
    background: rgba(165, 42, 42, 0.541);
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: .5s;
}
.submit-button:hover{
    background: whitesmoke;
}
/* Responsive css */
@media only screen and (max-width: 767px) {
    .box-wrapper{
        width: 100%;
    }
    .info-wrap,
    .form-wrap{
        width: 100%;
        height: inherit;
        float: none;  
    }
    .info-wrap{
        border-radius: 10px 10px 0px 0px;
    }
    .form-wrap{
        border-radius: 0px 0px 30px 30px;
    }
    .form-group{
        width: 100%;
        float: none;
        margin: 25px 0px;
    }
    .form-fields .form-group:last-child, 
    .submit-button{
        width: 100%;
    }
    .submit-button{
        margin: 10px 0px;
    }
}
/* Media */

@media(max-width:1200px){
    .contanier{
        width: 90%;
    }
    .intro .content h1{
        font-size: 50px;
    }
    .intro .content p{
        font-size: 25px;
    }
    .intro .intro-img img{
        width: 380px;
    }
    .intro{
        padding-bottom: 40px;
    }
    .about .content h3{
        font-size: 20px;
    }
    .about .content p{
        margin-bottom: 50px;
    }
    .about .about-img img{
        width: 380px;
    }
    .skill .boxs .box h3{
        font-size: 22px;
    }
    .contact form{
        width: 70%;
    }

}
@media(max-width:900px){
    .intro .content h1{
        font-size: 40px;
    }
    .intro .content p{
        font-size: 22px;
    }
    .intro .intro-img img{
        width: 340px;
    }
    header nav .nav-links a{
        margin-left: 40px;
    }
    .about .contanier{
        flex-direction: column;
        text-align: center;
    }
    .about .about-img img{
        width: 340px;
    }
    .about .about-img {
        margin-bottom: 40px;
    }
    .boxs .box{
        width: 45%;
        margin-bottom: 40px;
    }
    .contact form{
        width: 80%;
    }
}
@media(max-width:780px){
    .intro .contanier{
        flex-direction: column-reverse;
    }
    .intro .intro-img img{
        width: 380px;
    }
    .intro .content h1{
        font-size: 50px;
    }
    .intro .content{
        margin-top: 40px;
        text-align: center;
    }
    .btn{
        padding: 12px 25px;
    }
    #btn-menu{
        display: block;
        color: #fff;
        font-size: 40px;

    }
    header nav .nav-links{
        position: absolute;
        top: -350px;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #1c1e22;
    }
    header nav .nav-links.active{
        top: 100%;
    }
    header nav .nav-links a{
        width: 100%;
        margin: auto;
        padding: 20px;
        text-align: center;
        font-size: 20px;
        border-bottom: 1px solid #444;
    }
    header nav .nav-links a.active,
    header nav .nav-links a:hover{
        background-color: #ffaa17;
        color: #1c1e22;
    }
}
@media(max-width:670px){
    .intro .content h1{
        font-size: 40px;
    }
    .intro .intro-img img{
        width: 320px;
    }
    .boxs{
        justify-content: center;

    }
    .boxs .box{
        width: 70%;
    }
    .contact form{
        width: 90%;
    }
}
@media(max-width:500px){
    .intro .intro-img img{
        width: 280px;
    }
    .contact form{
        width: 90%;
        justify-content: center;

    }
    .contact form input{
        width: 100%;
    }
}
footer{
    position: relative;
    background: rgba(0, 0, 0, 0.747);
    width: 100%;
    bottom: 0;
    left: 0;
  
  }
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
    width: 100%;
    height:70px;
    background: rgba(0, 0, 0, 0.808)
  }
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  height: 10px;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 17px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}
